.card-container {
  flex: 1 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 3rem 2rem;
  border-radius: 32px;
  box-shadow: 0 14px 32px rgba(0, 0, 0, 0.2);

  .card-image {
    width: 76px;
    height: 76px;
  }

  .card-title {
    font-size: 36px;
  }

  .card-description {
    font-size: 18px;
    text-align: center;
    line-height: 1.5;
  }
}

@media (max-width: 1200px) {
  .card-container {
    .card-image {
      width: 66px;
      height: 66px;
    }

    .card-title {
      font-size: 26px;
    }

    .card-description {
      font-size: 16px;
    }
  }
}

@media (max-width: 960px) {
  .card-container {
    max-width: 500px;
    .card-image {
    }

    .card-title {
      font-size: 32px;
    }

    .card-description {
      font-size: 18px;
    }
  }
}
