.contact-section {
  .contact-section--title {
    font-size: 14px;
    text-align: center;
    letter-spacing: 4px;
    color: #8a898e;
  }

  .contact-section--description {
    text-align: center;
    font-size: 52px;
  }

  .contact-section--content-container {
    margin-top: 6rem;
    display: flex;
    gap: 6rem;

    .contact-section--content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 2rem;

      .contact-section--input {
        height: 50px;
        border-radius: 32px;
        border: none;
        box-shadow: 0 10px 24px rgba(0, 0, 0, 0.2);
        text-indent: 1rem;
      }
    }
  }
}

@media (max-width: 980px) {
  .contact-section {
    .contact-section--description {
      font-size: 38px;
    }

    .contact-section--content-container {
      margin-top: 3rem;
      gap: 0;
    }
  }
}

@media (max-width: 700px) {
  .contact-section {
    .contact-section--content-container {
      align-items: center;
      gap: 1rem;

      .contact-section--image {
        width: 210px;
        height: 183px;
        flex-grow: 1;
      }
    }
  }
}

@media (max-width: 580px) {
  .contact-section {
    .contact-section--content-container {
      flex-direction: column;
    }
  }
}
