.service-section {
  margin: 0 auto;

  .service-section--title {
    font-size: 14px;
    text-align: center;
    letter-spacing: 4px;
    color: #8a898e;
  }

  .service-section--description {
    text-align: center;
    font-size: 52px;
  }

  .service-section--cards-container {
    margin-top: 6rem;
    display: flex;
    gap: 4rem;
  }

  .service-section--container {
    margin-top: 6rem;
    display: flex;
    justify-content: space-between;

    & > div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 1rem 0;

      .service-section--subtitle {
        font-size: 22px;
        color: #1e0e62;
        font-weight: 500;
        line-height: 32px;
      }

      .service-section--subtitle__description {
        max-width: 320px;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: rgba(21, 20, 57, 0.4);
        margin-top: 2rem;
      }

      button {
        width: max-content;
        color: #1e0e62;
        padding: 6px 2rem;
        border: 2px solid #ebeaed;
        border-radius: 24px;
        margin-top: auto;
        transition: filter 0.2s;

        &:hover {
          filter: brightness(0.9);
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .service-section {
    .service-section--title {
    }

    .service-section--description {
      font-size: 38px;
    }

    .service-section--cards-container {
      gap: 2rem;
    }

    .service-section--container {
    }
  }
}

@media (max-width: 960px) {
  .service-section {
    .service-section--title {
    }

    .service-section--description {
    }

    .service-section--cards-container {
      margin-top: 3rem;
      flex-direction: column;
      align-items: center;
    }

    .service-section--container {
      margin-top: 3rem;
      flex-direction: column-reverse;

      div button {
        margin-top: 2rem;
      }
    }
  }
}
