.sidebar {
  width: 300px;
  height: 100dvh;
  position: fixed;
  top: 0;
  right: 0;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  border-radius: 32px 0 0 32px;
  box-shadow: -5px 10px 32px rgba(0, 0, 0, 0.2);

  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  .sidebar--link {
    color: white;
    font-size: 24px;
    text-decoration: none;
    padding: 2rem 1rem;
    transition: all 0.2s;
    border-radius: 16px;

    &:hover {
      background-color: rgba(255, 255, 255, 0.2);
      transform: translateX(4px);
    }
  }

  .sidebar--actions {
    margin-top: auto;
    display: flex;
    gap: 1rem;

    & > button {
      flex: 1 0 0;
    }

    .login-btn {
      background-color: #fff;
      padding: 14px 30px;
      border-radius: 10px;
      transition: filter 0.2s;

      &:hover {
        filter: brightness(0.9);
      }
    }
  }
}
